<div class="bg-white  text-center ">
  <section class= "bg-success text-white">
    <p>
      <%= image_tag "sharevel_logo.jpg", class: "sharevel-logo mb-5", size: '200x200' %>    
    </p>
    <h1 class="mb-4">share your travel experience</h1>
    <p class = "pt-4 pb-5">Sharevelは、旅の経験・情報を共有するするためのSNSです</p>
  </section>
  <section class="top-text">
    <h2>Welocome to Sharevel</h2>
    <h4>旅先での経験を共有しよう</h4>
    <p>
      テキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキスト
    </p>
    <h4>旅人の輪を繋ごう</h4>
    <p>
      テキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキスト
    </p>
    <h4>世界を広げるきっかけになろう</h4>
    <p>
      テキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキストテキスト
      テキストテキストテキストテキスト    
    </p>  
  </section>
  
  <% if current_user.nil? %>
    <section class="top-new-user">
      <%= link_to "新規登録する", new_user_path, class: "btn btn-success top-page-btn", id: "top-page-btn" %>
    </section>
  <% end %>  
</div>