<div class="container-with-menu">
  <section class="side-menu-container d-inline-block align-top">
    <ul class="list-group h6">
      <li><%= link_to "基本情報", edit_user_path(@user, ), class: " list-group-item" %></li>
      <li><%= link_to "パスワード設定", edit_user_password_path(@user), class: "list-group-item" %></li>
    </ul>
  </section>      
  <section class="w800-container d-inline-block text-left">
    <%= render "users/user_password_form", user: @user %>
  </section>
</div>    