<section class="w1100-container">
  <h1>新規ユーザー登録</h1>
  <%= render "users/user_new_form", user: @user %>
  <div class="text-right">
    <%= link_to "既に登録済みの方はこちら", login_path %>
  </div>
  
</section>