/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome';

$mainColor: #28a745;
$bgColor: #0000000d;
$lightBlack: #525252;
$conShadow: 0px 0px 5px rgba(0, 0, 0, 0.1);  

@mixin page-container{

  background-color: white;
  border-radius: 8px;
  box-shadow: $conShadow ;
}

//基本設定
body{
  background-color: $bgColor;
}
ul{
  padding-left: none ;
}
li{
list-style: none;
}
img{
  object-fit: cover;
}
textarea{
  resize: none;
}
a{
  color: inherit ;
  text-decoration: none;
  &:hover{
    color: inherit;
    text-decoration: none;
  } 
}
.profile_image{
  border-radius: 50% ;
}
.alert{
  margin-bottom: 0;
}

.side-menu-container {
  width: 200px;
  background-color:white ;
  margin-top:30px;
  border-radius: 8px;
  padding:15px;
  & a{
    color: rgba(0, 0, 0, 0.5);
    &:hover{
      color:black;
      text-decoration:none;
    }
  }
}

.w300-container {
  width: 300px;
  @include page-container
  margin: 30px auto;
  padding: 40px;
}

.w800-container {
  width: 800px;
  @include page-container
  margin: 30px auto;
  padding: 40px;
}

.w1100-container {
  max-width: 1100px;
  @include page-container
  margin: 30px auto;
  padding: 40px;
  
}
// 入力フォーム

textarea.form-control {
  resize: none;
  width: 100% ;
  height: 250px;
}
.label-control{
  font-size: 18px;
  margin: 30px 8px 12px;
  font-weight: bold;
}
.submit-position{
  text-align: center;
  margin-top: 20px; 
}

.btn-success {
  font-size: 18px;
  font-weight: 550;
  padding: 5px 20px;
}
//ユーザー編集
#container-with-menu{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}


// header
header{
  background-color: #a7a7a72b;
  & button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    color: green;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: $conShadow ;
    &:hover{
      background-color: $mainColor;
      color: white;
    }
  } 
}
#sharevel-header{
  font-size: 36px ;
  font-weight: bold;
  font-family: cursive;
  transition: all 0.7s;
  color: green;
  &:hover{
    transform: scale(1.02);
  }
}

//footer
footer{
  height: 60px;
  &.navbar-nav {
    color:white;
    &:hover{
      border-bottom: 1px solid white;
      color:white;
    }
  }
}

#sharevel-footer{
  font-size: 24px;
  font-family: cursive;
}

// トップ画面
.sharevel-logo{
  transition: all 0.7s;
  &:hover{
    transform: scale(1.1);
  }
}
.top-text{
  padding-top: 100px;
  padding-bottom: 100px;
  & h2{
    margin-bottom: 0px;
  }
  
  & h4{
    font-size: 22px;
    padding: 40px 0 30px;
    color: black;
    }
  & p{
    margin: 0px 22% 30px;
    color: $lightBlack;
    }  
}
.top-new-user{
  background-color:$bgColor;
  padding: 50px 0px;  
}

#top-page-btn{
  padding: 12px 40px;
  font-size: 18px;
}

//投稿一覧 *user/show question/showでも一部使用
.list-header-image{
  background-image: url(background_image3.png);
  background-size: cover;
  width: 100%;
}

.list-page-container{
  margin: 20px 0;
  justify-content: center;
}
.list-left-container{
  width: 200px ;
  @include page-container
}
.list-center-container{
  margin: 0 25px; 
}
.list-choose-menu-container{
  width: 540px;
  margin: 0 auto 10px;
  ul{
    text-align: center;
    padding: 0;
  }
  li{
    font-size: 17px;
    width: 100px;
    background-color: white;
    padding: 3px 0;
    color: $mainColor;
    font-weight: bold;
    &:hover{
    box-sizing: border-box;
    border-bottom: 3px solid $mainColor ;
    }
  }
}

.list-container{
  width: 600px;
  background-color: white;
  margin: 0 auto 20px;
  border-radius: 5px; 
  box-shadow: $conShadow ;
}
  
.list-top-element{
  margin: 0;
}
.list-username{
  font-size: 14px;
  padding-right: 10px;
  color: black;
  &:hover{
    color: $lightBlack;
  }
}
.post-location{
  font-size: 11px;
  color:$lightBlack;
  margin-left: 10px;
}
.post-title{
  font-size: 15px;
  font-weight: bold;    
}
.post-body{
  font-size: 13px;
  padding: 8px 25px 4px;
  margin-bottom: 0;
  word-wrap: break-word;
}
.list-created-at{
  font-size: 11px;
  margin-bottom: 0;
  color: $lightBlack;
  width: 100px;
  margin-left: auto;
}
.post-font-awesome{
  font-size: 15px;
  padding-right: 8px;
  color: black;
}
.post-favorite-only{
  width: 50px;
  margin-left: auto;
}
.list-question-title{
  font-size: 20px;
  font-weight: bold;
  &:hover{
    color: #14c109;
  }
}
.list-question-body{
  font-size: 15px; 
  padding: 5px 20px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.list-right-container{
  width: 300px;
  color: black;
}
.right-question-list-container{
  background-color: white;
  padding: 3px 8px;
  margin: 8px 0;
  border-radius: 3px;
  p{
    margin-bottom: 0;
  }
  .right-question-list-created-at{
    color: $lightBlack;
    font-size: 12px;
  }
}
.right-question-list{
  font-size: 14px;
  &:hover{
  text-decoration: underline;
  }
}

// プロフィール　user#show
#profile-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
  
  #profile-top{
    width: 75%;
    margin: 15px 0.5% 0;
  }
  #profile-profile-edit{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: $lightBlack;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 15px;    
  } 
  #profile-username{
    font-size: 20px;
  }
  #profile-body{
    color: $lightBlack;
    font-size: 12px;
  }
  
} 

#profile-posts-container{
  width: 90%;
  margin: 0 auto;
  & li{
    width: 30%;
    margin: 1.66%;
    position: relative;
    
    &:before{
      content: "";
      display: block;  
      padding-top: 100%;     
    }
  
  }
  #profile-posts-posts{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;  
  }
}
  

// 質問詳細questions/show
//左側を囲うcontainer
.question-show-main-container{
  width: 800px;
}
//質門の内容を表示
.question-show-question-container{
  @include page-container
}
.question-show-question-title{
  font-weight: bold;
  font-size: 27px;
}
.question-show-question-body{
  font-size: 18px;
  padding: 15px 25px 5px;
  line-height: 30px;
}
.question-created-at{
  font-size: 15px;
  margin-right: 20px;
}

//answer作成
.question-show-new-answer-container{
  @include page-container
  margin-bottom: 20px;
  .btn-success{
    font-size: 14px;
    margin-top: 15px;
  }
  textarea{
    resize: vertical;
    height: 150px;
  }
}
//answer一覧
.question-show-answer-container{
  @include page-container
  margin-bottom: 20px;
}
.question-show-answer-helpful-on{
  border: 1px solid $mainColor;
  background-color: $mainColor;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  margin: 10px 15px 10px;
  border-radius: 5px;
}
.question-show-answer-helpful-off{
  border: 1px solid $mainColor;
  background-color: $white;  
  font-weight: bold;
  color: $mainColor;
  padding: 5px 10px;
  margin: 10px 15px 10px;
  border-radius: 5px;
  
}

//右側を囲う
.question-show-sub-container{
  @include page-container
  width: 280px;
}

// コメント機能用
.post-comment-container{
  margin: 10px 4% 0;
  p{
    margin-bottom: 0;
  }
}
.post-comment-create-textarea{
  font-size: 11px;
  width: 86%;
  border: none;
  border-bottom: 1px solid #dee2e6;
  color: black;
  &:focus{
    outline: none;
  }
}
.post-comment-create-input{
    font-size: 11px;
    vertical-align: top;
    border: none;
    background-color: white;
    color: $mainColor;
    font-weight: 700;
}

.post-comment-username{
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  
}
.post-comment-comment{
  font-size: 11px;
  display: inline-block;
}