/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome';

$mainColor: #218838;
$bgColor: #efefef;
$lightBlack: #525252;
$conShadow: 0px 0px 5px rgba(0, 0, 0, 0.1);  

@mixin page-container{
  margin: 30px auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: $conShadow ;
}

//基本設定
body{
  background-color: $bgColor;
  ul{
    padding-left: none ;
  }
  li{
  list-style: none;
}
  img{
    object-fit: cover;
  }
  a{
    color: black;
    &:hover{
      text-decoration: none;
    }
  }
}
.profile_image{
  border-radius: 50% ;
}

.side-menu-container {
  width: 200px;
  background-color:white;
  margin-top:30px;
  border-radius: 8px;
  padding:15px;
  & a{
    color: rgba(0, 0, 0, 0.5);
    &:hover{
      color:black;
      text-decoration:none;
    }
  }
}
.w800-container {
  width: 800px;
  @include page-container
}

.w1100-container {
  max-width: 1100px;
  @include page-container
}
// 入力フォーム

textarea.form-control {
  resize: none;
  width: 100% ;
  height: 250px;
}
.label-control{
  font-size: 18px;
  margin: 30px 8px 12px;
  font-weight: bold;
}
.submit-position{
  text-align: center;
  margin-top: 20px; 
}

.btn-success {
  font-size: 18px;
  font-weight: 550;
  padding: 5px 20px;
}
//ユーザー編集
#container-with-menu{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
// header
#sharevel-header{
  font-size: 36px ;
  font-family: cursive;
}
.btn.btn-success.dropdown-toggle{
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

.nav-item-header {
  transition: all 0.15s;
  width: 150px;
  text-align:center;
  &:hover{
    background-color: $mainColor;
    border-color: #1e7e34;
    border-radius: 0.25rem;
    
  }
}
//footer
footer{
  height: 60px;
  &.navbar-nav {
    color:white;
    &:hover{
      border-bottom: 1px solid white;
      color:white;
    }
  }
}

#sharevel-footer{
  font-size: 24px;
  font-family: cursive;
}

// トップ画面
.top-text{
  padding-top: 100px;
  padding-bottom: 100px;
  & h2{
    margin-bottom: 30px;
  }
  
  & h4{
    font-size: 22px;
    padding: 40px 0 30px;
    color: black;
    }
  & p{
    margin: 0px 22%;
    color: $lightBlack;
    }  
}
.top-new-user{
  background-color:$bgColor;
  padding: 50px 0px;  
}

#top-page-btn{
  padding: 12px 40px;
  font-size: 18px;
}

//投稿一覧
.post-container{
  width: 520px;
  margin: 0 auto 10px;
  border: 0.5px solid rgba(221, 221, 221, 0.5 );
  border-radius: 5px; 
  box-shadow: $conShadow ;
  .post-top-element{
    margin: 0;
  }
  .post-username{
    font-size: 13px;
    padding-right: 10px;
    color: black;
    &:hover{
      color: $lightBlack;
    }
  }
  .post-location{
    font-size: 10px;
    color:$lightBlack;
  }
  .post-title{
    font-size: 14px;
    font-weight: bold;    
  }
  .post-body{
    font-size: 10px;
    padding: 8px 20px 4px;
    margin-bottom: 0;
    word-wrap: break-word;
  }
  .post-created-at{
    font-size: 10px;
    margin-bottom: 0;
    color: $lightBlack;
    width: 100px;
    margin-left: auto;
  }
  .post-font-awesome{
    font-size: 15px;
    padding-right: 8px;
    color: green;
  }
  .post-favorite-only{
    width: 50px;
    margin-left: auto;
  }
}

// プロフィール　user#show
#profile-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
  
  #profile-top{
    width: 75%;
    margin: 15px 0.5% 0;
  }
  #profile-profile-edit{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: $lightBlack;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 15px;    
  } 
  #profile-username{
    font-size: 20px;
  }
  #profile-body{
    color: $lightBlack;
    font-size: 12px;
  }
  
} 

#profile-posts-container{
  width: 90%;
  margin: 0 auto;
  & li{
    width: 30%;
    margin: 1.66%;
    position: relative;
    
    &:before{
      content: "";
      display: block;  
      padding-top: 100%;     
    }
  
  }
  #profile-posts-posts{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;  
  }
  
}
